:root {
  --color-blue: hsl(246, 80%, 60%);

  --color-work-light-red: hsl(15, 100%, 70%);
  --color-play-soft-blue: hsl(195, 74%, 62%);
  --color-study-light-red: hsl(348, 100%, 68%);
  --color-exercise-lime-green: hsl(145, 58%, 55%);
  --color-social-violet: hsl(264, 64%, 52%);
  --color-self-care-soft-orange: hsl(43, 84%, 65%);


  --color-very-dark-blue: hsl(226, 43%, 10%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  display: grid;
  place-content: center;

  min-height: 100vh;

  background-color: var(--color-very-dark-blue)
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: center;

  gap: 1.5em;

  max-width: 1000px;

  color: white;

  font-family: 'Rubik', sans-serif;

  font-size: 18px;

}

/*///////// Typography /////////////*/

h1{
  font-weight: 300;
  font-size: 2em;
}

h2{
  font-weight: 400;
  font-size: 1em;
}

h3 {
  font-size: 2.5em;
  font-weight: 300;

  padding: .6em 0 .25em 0;
}

p {
  font-size: .8em;
  font-weight: 300;
  color: var(--color-pale-blue);
}



/*/////////////////////////////////*/

.profile-main {
  grid-row: span 2;
  background-color: var(--color-dark-blue);
  border-radius: 15px;
}

.profile-inner {
  background-color: var(--color-blue);
  padding: 1.5em;

  height: 70%;
  border-radius: 15px;
}


.profile-img {
  width: 70px;
  height: 70px;

  border: solid white;
  border-radius: 50%;

  margin-bottom: 1.5em;
}

.timeframe {
  display: flex;
  flex-direction: column;

  color: var(--color-desaturated-blue);

  padding: 1em 1.5em;
}

.timeframe > label {
  padding: .5em 0;
  font-size: .9em;
}

.timeframe > label:hover {
  color: white;
  cursor: pointer;
}

.timeframe > input {
  display: none;
}

.timeframe > input:checked + label {
  color: white;
}

/* PROFILE */

.activity-main {
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-top: 2em;

  position: relative;

  
  overflow: hidden;

}

.activity-inner {

  background-color: var(--color-dark-blue);

  z-index: 1;

  border-radius: 15px 15px 0 0;

  padding: 1.5em;
  
}

.activity-inner:hover:not(:hover .activity-menu) {
  background-color: hsl(236, 31%, 44%);
  cursor: pointer;
}


.activity-inner > h2 {
    display: flex;
    align-items: center ;

    justify-content: space-between;

    flex-wrap: nowrap;
}
.activity-menu {
  fill: #BBC0FF;
}
.activity-menu:hover {
  fill: white;
  cursor: pointer;
}



.activity-icon {
  width: 50px;
  height: 50px;

  position: absolute;
  
  left: 70%;
  top: -2%;
  
}

/*//////////////////////
  activity colors (gradient due to overlap)
//////////////////////*/

main .activity-main:nth-of-type(2) {
  background: linear-gradient(var(--color-work-light-red), var(--color-work-light-red), 50%, var(--color-dark-blue));

}
main .activity-main:nth-of-type(3) {
  background: linear-gradient(var(--color-play-soft-blue), var(--color-play-soft-blue), 50%, var(--color-dark-blue));
}
main .activity-main:nth-of-type(4) {
  background: linear-gradient(var(--color-study-light-red), var(--color-study-light-red), 50%, var(--color-dark-blue));
}
main .activity-main:nth-of-type(5) {
  background: linear-gradient(var(--color-exercise-lime-green), var(--color-exercise-lime-green), 50%, var(--color-dark-blue));
}
main .activity-main:nth-of-type(6) {
  background: linear-gradient(var(--color-social-violet), var(--color-social-violet), 50%, var(--color-dark-blue));
}
main .activity-main:nth-of-type(7) {
  background: linear-gradient(var(--color-self-care-soft-orange), var(--color-self-care-soft-orange), 50%, var(--color-dark-blue));
}
